{cover_enabled, true}.
{cover_excl_mods, [filename]}.

{ct_cover, true}.
{ct_verbose, true}.

{deps, [
    {erloci, {git, "https://github.com/k2informatics/erloci.git", {tag, "0.1.0"}}}
]}.

{eunit_opts, [
    {skip_deps, true},
    verbose
]}.

{recursive_cmds, [clean, eunit]}.

{xref_checks, [
    deprecated_functions,
    deprecated_function_calls,
    exports_not_used,
    locals_not_used,
    undefined_functions,
    undefined_function_calls
]}.

