%%-*- mode: erlang -*-
%% ex: ft=erlang
{eunit_opts, [{report, {eunit_surefire, [{dir, "."}]}}]}.
{cover_enabled, true}.
{ct_use_short_names, true}.
{deps, [
    % Remove/Comment following erloci dependency before using in sbsgui
    {erloci, "0.0.3pre-3", {git, "https://github.com/k2informatics/erloci.git", {tag, "0.0.3pre-3"}}}
]}.
